absl-py
aniso8601
attrs
bcrypt
blis
pillow
matplotlib
catalogue
certifi
cffi
charset-normalizer
click
colorama
comtypes
cycler
cymem
dnspython
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
Flask
Flask-Bcrypt
Flask-RESTful
fonttools
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
langcodes
MarkupSafe
mediapipe
murmurhash
numpy
opencv-contrib-python
packaging
pathy
playsound
preshed
protobuf
pycparser
pydantic
pygame
pymongo
pyparsing
python-dateutil
pyttsx3
pytz
requests
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tqdm
typer
typing_extensions
urllib3
waitress
wasabi
Werkzeug
pandas
openpyxl
XlsxWriter
wkhtmltopdf
