@import url("https://fonts.googleapis.com/css?family=Alatsi");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Aclonica");
.font1 {
    font-family: 'Alatsi'
}

.font2 {
    font-family: 'Cabin';
}

.font3 {
    font-family: 'Aclonica';
}


/* body {
    background-image: url(../images/background-2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} */

.bg-1 {
    background-color: #0b4c68;
}

.header {
    padding: 15px 0;
}

.fixed-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fixed-logo img {
    max-height: 50px;
}

.fixed-logo-top {
    position: fixed;
    top: 80px;
    left: 10px;
}

.fixed-logo-top img {
    max-height: 50px;
}

.fixed-help-logo {
    position: fixed;
    top: 80px;
    right: 10px;
}

.fixed-help-logo img {
    max-height: 50px;
}

h3 {
    font-family: 'Alatsi'
}

.color1 {
    color: #0b4c68;
    ;
}

.big-bold-text {
    font-weight: 600;
    font-size: 20px;
}

.highlight-text {
    background-color: #0b4c68;
    padding: 5px 8px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
}

.highlight-text-sm {
    background-color: #0b4c68;
    padding: 1px 3px 2px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
}

.form-control {
    border: 1px solid #0b4c68;
    font-size: 20px;
    color: #0b4c68;
}

textarea.form-control {
    color: #0b4c68;
    font-size: 20px;
    background: transparent;
}

.btn-primary {
    background-color: #0b4c68;
    border: 1px solid #013247;
}

.btn-primary:hover {
    background-color: #013247;
}

section {
    padding: 30px 0 50px 0;
}

.blue-color-list {
    list-style: none;
    /* Remove default bullets */
}

.blue-color-list li::before {
    /* content: "\2022"; */
    color: #0b4c68;
    font-weight: bold;
    display: inline-block;
    width: 0.7em;
    margin-left: -1em;
    font-size: 30px;
}

.blue-color-list li {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Cabin';
    color: #0b4c68;
}

.form-check-input {
    position: absolute;
    top: 0;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.form-check-label .highlight-text {
    margin-left: 15px;
}

.summary h4 {
    font-size: 22px;
    font-weight: 600;
}

.summary h4 span {
    font-size: 20px;
    font-weight: normal;
}

.problem-desciption ol {
    list-style: none;
    counter-reset: li
}

.problem-desciption li::before {
    content: counter(li);
    color: #0b4c68;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    width: 1em;
    padding-top: 20px;
    margin-left: 1em
}

.problem-desciption li {
    counter-increment: li;
    display: inline-block;
    width: 100%;
}

.problem-desciption li .list-content {
    width: 95%;
    float: right;
    padding: 10px;
    border: 1px solid #0b4c68;
    color: #0b4c68;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}


/* login page */

.login-box {
    display: block;
    width: 60%;
    padding-top: 20%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.login-box .form-control {
    background: transparent;
    font-size: 24px;
}

.login-box a {
    color: #0b4c68;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.login-box a:hover {
    color: #0b4c68;
    text-decoration: none;
}


/* login page end */

.breadcrumb {
    margin-top: 30px;
}

.breadcrumb .breadcrumb-item a {
    margin-top: 50px;
    color: #0b4c68;
    font-weight: 600;
}

.breadcrumb .breadcrumb-item.active {
    color: #0b4c68;
}


/* margins */

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
    margin-left: 20px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}


