<html onload="erasee()">
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Page {{session['page_no']}}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row bg-1 header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">

                    </div>
                    <div class="col-lg-2">
                        <h5 class="text-white text-center">Page {{session['page_no']}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {# new changes here           #}
            <div class="col-lg-2" style="margin-top: 26px;">
                <div class="fixed-logo">
                    <img src="{{url_for('static',filename='images/Nivriti new logo.jpeg')}}" alt="" style="max-height:75px;width:130;">
                </div>
            </div>
            <div class="col-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sensory Awareness of the Problem </li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-1" style="margin-top: 33px;">
                <a href="" data-toggle="modal" data-target="#exampleModal">
                    <button type="submit" formaction="/user" formmethod="POST" class="btn btn-bg btn-primary"> Help </button>
                </a>
            </div>
            {# new changes here           #}
        </div>
    </div>
    <!-- header -->
    <!-- section -->

    <section>
        <div class="container summary">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-white highlight-text mb-20"> Ambiguity Checker for Updated “How To” Challenge Statement </h3>
                </div>
            </div>
            <form action="" method="POST">
                <div class="col-lg-18  mb-10" style=" font-size: 18px;font-family: 'Cabin';color: #0b4c68;">
                    <input style="display: none;" type="text" name="no" id="" value="">
                    <input style="display: none;" type="text" name="i" value="" id="">

                    <!-- <p>Answer: {{ session['user']['problems'][session['id']]['selected_how_to']['question'] | safe }}</p> -->
                    <textarea onkeyup="mycounter()" class="form-control" style="font-size: 15px;font-weight: bold;" rows="12" cols="10" maxlength="250" disabled>Explanation: 
Ambiguity refers to a word, phrase or statement that can be interpreted in multiple ways because of assumptions and biases.  Ambiguity can lead to uncertainty or misunderstanding. 

A small number of careless word choices cause most of the potential misunderstandings. These word choices can be classified as Deletions, Distortions or Generalizations. 
            - Deletions occur when information, which could be useful in understanding a person’s communication to us, has been left out of the message. Once you've recovered the deleted information, you have more knowledge and awareness about the person’s point of reference.
            - Distortions occur when one specific experience represents a whole class of experiences. 
            - Generalizations occur when one specific experience represents a whole class of experiences. 

Please click “Help” button for additional information and examples.</textarea><br>
                <u>“How To” Challenge Statement (before clarifying questions):</u> <br><b>{{session['user']['problems'][session['id']]['before_ambi']| safe}}</b> <br><br>

                    {% for j in range( 0,session['user']['problems'][session['id']]['selected_how_to']['ambiguity'] | length  ) %}
                    <span id="fr">
                        <table style="border: #0b4c68 solid 1px;">
                            <tr>
                                <td><p style="font-weight:bold;padding-top: 8px;" class="text-blue">Vague: </p></td>
                                <td style="border: #0b4c68 solid 1px;"><i style="color: blue;"> {{ session['user']['problems'][session['id']]['selected_how_to']['ambiguity'][j]['vague'] }} </i></td>
                            </tr>
                            <tr>
                                <td><p style="font-weight:bold;padding-top: 8px;" class="text-blue">Clarify: </p></td>
                                <td style="border: #0b4c68 solid 1px;">{{session['user']['problems'][session['id']]['selected_how_to']['ambiguity'][j]['ques'] }}</td>
                            </tr>
                            <tr>
                                <td><p style="font-weight:bold;padding-top: 8px;" class="text-blue">Please Answer: </p></td>
                                <td style="border: #0b4c68 solid 1px;">
                                    <input style="width:400px;height: 35px;" type="text" list="answer{{j}}" name="ans{{j}}" id="dat"> <datalist id="answer{{j}}">
                                        <option value="0"></option>
                                    </datalist>
                                </td>
                            </tr>

                        </table>
                    </span>
                    <br>
                    {% endfor %}
                    <br><br>
                </div>
                <br>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                    function gofor() {
                        window.history.forward();
                    }
                </script>
                <center>

                    <button class="btn btn-md btn-primary" type="submit" formaction="/ambiguity_db" formmethod="GET"> BACK </button>
                    <button class="btn btn-md btn-primary" type="submit" formaction="/next_ambi_2_db" formmethod="POST">  SAVE & NEXT </button>

                    {{subbtn}}
                </center>
                <style>
                    td {
                        padding: 5px;
                    }
                </style>
                <script>
                    function erasee() {
                        if (document.getElementById('chklen').value > 0) {
                            document.getElementById('fr').style.display = "block";
                        } else {
                            document.getElementById('fr').style.display = "none";
                        }
                    }
                </script>
                {#  new change here                      #}
                <div class="col-lg-12 text-center">
                    <button style="position:absolute;bottom: -30%;left:10%;" formaction="/return_s" formmethod="post" type="submit" class="btn btn-md btn-primary">Log Out</button>

                </div>
            </form>
        </div>
        </div>
    </section>

    <!-- popup -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <p>


                        <br><b>Deletions Example:</b> it is bad to be inconsistent:  who says it is bad? According to whom
                        <br> My boss acts in some funny way: How specifically is he funny? Has he always this? how long is he been like this?

                        <br><b>Distortions Example:</b> None of our vendors are good enough?:                  None? Is there some one who is good? How good is not good enough for you?
                        <br>   We can’t tell the customers the truth?:                     What happens if you tell them the truth?
                        What does not happen if you tell them the truth? 
                        <br><b>Generalizations Example:</b> Our client rejected our proposal:                              How specifically did he reject? Which part of the proposal did he reject?
                        <br>  We want to be known as a better company:                        Better at what? better than whom? Better when? 
                        Our organisation need to reduce the high rate of employee attrition        : reduction by how much?

                        <br>  How to increase the percentage of employee retention?        : by how much percentage?

                        <br>  How to attract and retain the top talent?                    : what type of talent? Top as compared to?

                        <br>  How to get repeat orders and new customers?                  : from how many customers?

                        <br>  How to become a global leader in our industry/sector?        : global leader in automation, sales, operations, quality?

                        <br>  How to prevent a cash flow crisis this year?                 : How much? What type of crisis? What is the current flow?



                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- popup end -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </form>

</body>
</html>