<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Page {{session['page_no']}}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row bg-1 header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">

                    </div>
                    <div class="col-lg-2">
                        <h5 class="text-white text-center">Page {{session['page_no']}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {# new changes here           #}
            <div class="col-lg-2" style="margin-top: 26px;">
                <div class="fixed-logo">
                    <img src="{{url_for('static',filename='images/Nivriti new logo.jpeg')}}" alt="" style="max-height:75px;width:100;">
                </div>
            </div>
            <div class="col-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('signin')}}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Initial Description of the Challenge</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-1" style="margin-top: 33px;">
                <a href="" data-toggle="modal" data-target="#exampleModal">
                    <button type="submit" formaction="/user" formmethod="POST" class="btn btn-bg btn-primary"> Help </button>
                </a>
            </div>
            {# new changes here           #}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Your Problems have been recorded!</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <form action="/return_s" method="POST">
        <!-- header -->
        <section>
            <div class="container summary">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="text-white highlight-text mb-20"> Your Problems have been recorded!.</h3><br><br>
                        < <button style="position:absolute;bottom: 5%;left:10%;" formaction="/return_s" formmethod="post" type="submit" class="btn btn-md btn-primary">Log Out</button>
                    </div>

                </div>

                <center>
        </section>
        


        </center>
    </form>
</html>